<div class='google-ads' style='margin-top: 40px; text-align: center'>
	<script data-cfasync='false' async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' type='text/javascript'></script>
	<ins class='adsbygoogle'
		 style='display: inline-block; width: 160px; height: 600px'
		 data-ad-client='{{ site.organization.google.ad-client }}'
		 data-ad-slot='{{ site.organization.google.ad-sidebar-slot }}'></ins>
	<script data-cfasync='false' type='text/javascript'>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>