<head>
  <meta charset="utf-8" />
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="organization" content="{{ site.organization.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  {% if site.development == false %} {% if site.google.verify %}
  <meta name="google-site-verification" content="{{ site.google.verify }}" />
  {% endif %} {% endif %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link
    rel="shortcut icon"
    href="{{ 'assets/img/favicon.png' | prepend: site.baseurl }}"
  />

  <link
    rel="canonical"
    href="{{ page.url | replace:&quot;index.html&quot;, &quot;&quot; | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    href="{{ 'assets/css/style.css' | prepend: site.baseurl }}"
  />

  <noscript
    ><link
      type="text/css"
      rel="stylesheet"
      href="{{ 'assets/css/noscript.css' | prepend: site.baseurl }}"
  /></noscript>
</head>
