<span class="mobile btn-mobile-menu">
	<i class="icon icon-list btn-mobile-menu__icon"></i>
	<i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ "assets/img/cover.png" | prepend: site.baseurl }})">
	<div class="panel-main">
		<div class="panel-main__inner panel-inverted">
			<div class="panel-main__content">
				<a href="{{ site.baseurl }}" title="Voltar ao início: {{ site.title }}">
					<img src="{{ "assets/img/logo.png" | prepend: site.baseurl }}" class="user-image" alt="Logótipo">
					<h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
				</a>

				<hr class="panel-cover__divider">
				<p class="panel-cover__description">{{ site.description }}</p>

				<div class="navigation-wrapper">
					<nav class="cover-navigation cover-navigation--primary">
						<ul class="navigation">
							<li class="navigation__item"><a href="http://dnelsonsilvav.com/" class="blog-button">Fundador</a></li>
						</ul>
					</nav>

					<nav class="cover-navigation navigation--social">
						<ul class="navigation">
							{% if site.organization.google.youtube-name %}
								<li class="navigation__item">
									<a href="https://www.youtube.com/c/{{ site.organization.google.youtube-name }}" title="{{ site.organization.name }} no YouTube" target="_blank">
										<i class='icon icon-social-youtube'></i>
										<span class="label">YouTube</span>
									</a>
								</li>
							{% endif %}

							{% if site.organization.github %}
								<li class="navigation__item">
									<a href="https://github.com/{{ site.organization.github }}" title="{{ site.organization.name }} no GitHub" target="_blank">
										<i class='icon icon-social-github'></i>
										<span class="label">GitHub</span>
									</a>
								</li>
							{% endif %}

							{% if site.organization.email %}
								<li class="navigation__item">
									<a href="mailto:{{ site.organization.email }}" title="Contactar por Email" target="_blank">
										<i class='icon icon-mail'></i>
										<span class="label">Email</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>

			<br/>
			<div id='google_translate_element'></div>

			{% if site.organization.google.youtube-id %}
				<br/>
				<div class="g-ytsubscribe" data-channelid="{{ site.organization.google.youtube-id }}" data-layout="default" data-count="default"></div>
			{% endif %}

			<br/>
			{% if site.organization.google.ad-client and site.organization.google.ad-footer-slot %}
				{% if site.development == false %}
					{% include ad-footer.html %}
				{% endif %}
			{% endif %}
		</div>

		<div class="panel-cover--overlay"></div>
	</div>
</header>