<head>
	<meta charset='utf-8'/>
	<meta http-equiv='cleartype' content='on'/>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>

	{% assign author = site.author %}
	{% if site.organization.pinterest.verify %}
		<meta name='p:domain_verify' content='{{ site.organization.pinterest.verify }}'/>
	{% endif %}
	{% if site.organization.google.verify %}
		<meta name='google-site-verification' content='{{ site.organization.google.verify }}'/>
	{% endif %}

	<title>
		{{ site.title }}
	</title>

	<link rel='stylesheet' href='{{ site.baseurl }}/css/bootstrap.min.css'>
	<link rel='stylesheet' href='{{ site.baseurl }}/css/style.css'>
	<link rel='stylesheet' href='{{ site.baseurl }}/css/syntax.css'>
	<link rel='stylesheet' href='{{ site.baseurl }}/css/font-awesome.min.css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'>
	<link rel='shortcut icon' href='{{ site.baseurl }}/favicon.ico'>

	<script data-cfasync='false' type='text/javascript' src='{{ site.baseurl }}/js/jquery-3.1.0.min.js'></script>
</head>