<head>
	<meta charset='utf-8'/>
	<meta name='viewport' content='width = device-width, initial-scale = 1.0'/>
	<meta http-equiv='cleartype' content='on'/>

	{% assign author = site.author %}
	{% if site.organization.google.verify %}
		<meta name='google-site-verification' content='{{ site.organization.google.verify }}'/>
	{% endif %}

	<title>
		{{ site.title }}
	</title>

	<link rel='stylesheet' href='{{ site.url }}/css/main.css'>
	<link rel='shortcut icon' href='{{ site.url }}/favicon.ico'>
	
	<script src='https://use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9;source-code-pro:n4,n7;volkhov.js'></script>
	<script src='{{ site.url }}/js/modernizr-custom.min.js'></script>
</head>