<footer>
  <ul class="icons">
    <li>
      <a href="{{ site.author.website }}" target="_blank" class="fa-user"></a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/c/{{ site.organization.youtube_name }}"
        target="_blank"
        class="fa-youtube"
      ></a>
    </li>
    <li>
      <a
        href="https://github.com/{{ site.author.github }}"
        target="_blank"
        class="fa-github"
      ></a>
    </li>
    <li>
      <a
        href="https://linkedin.com/company/{{ site.organization.linkedin }}"
        target="_blank"
        class="fa-linkedin"
      ></a>
    </li>
  </ul>

  {% if site.google.ad_client and site.google.ad_footer_slot %} {% if
  site.development == false %} {% include ad-footer.html %} {% endif %} {% endif
  %}
</footer>
