<input type='checkbox' class='sidebar-checkbox' id='sidebar-checkbox'>

<div class='sidebar' id='sidebar'>
	<div class='sidebar-item'>
		<center>
			<a href='{{ site.baseurl }}/' title='{{ site.title }}'>
				<img class='logo' src='{{ site.url }}/img/{{ site.logo }}'>
				<p>{{ site.description }}</p>
				<div id='google_translate_element'></div>
			</a>
		</center>
	</div>

	<nav class='sidebar-nav'>
		{% for link in site.data.navigation %}
			{% if link.url contains 'http' %}
				{% assign domain = '' %}
			{% else %}
				{% assign domain = site.baseurl %}
			{% endif %}
			<a class='sidebar-nav-item' href='{{ domain }}{{ link.url }}' {% if link.url contains 'http' %}target='_blank'{% endif %}>{{ link.title }}</a>
		{% endfor %}
	</nav>

	<div class='sidebar-item'>
		<center>
			<p>"Logic will get you from A to B. Imagination will take you everywhere." - Albert Einstein.</p>
		</center>
	</div>
</div>