<script
  data-cfasync="false"
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
></script>
<script
  data-cfasync="false"
  type="text/javascript"
  src="{{ 'assets/js/main.js' | prepend: site.baseurl }}"
></script>
<script
  data-cfasync="false"
  type="text/javascript"
  src="https://apis.google.com/js/platform.js"
></script>

{% if site.development == false %} {% if site.organization.google.analytics %}
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{
    site.organization.google.analytics
  }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', '{{ site.organization.google.analytics }}');
</script>
{% endif %} {% if site.organization.statcounter.project and
site.organization.statcounter.security %}
<script type="text/javascript">
  var sc_project={{ site.organization.statcounter.project }};
  var sc_invisible=1;
  var sc_security="{{ site.organization.statcounter.security }}";
</script>
<script
  type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async
></script>
<noscript
  ><div class="statcounter">
    <a title="Web Analytics" href="https://statcounter.com/" target="_blank"
      ><img
        class="statcounter"
        src="https://c.statcounter.com//{{
          site.organization.statcounter.project
        }}/0/{{ site.organization.statcounter.security }}/1/"
        alt="Web Analytics"
    /></a></div
></noscript>
{% endif %} {% endif %}
