<script type='text/javascript'>
	var BASE_URL = '{{ site.url }}';
</script>

<script src='{{ site.url }}/js/jquery-2.2.3.min.js'></script>
<script src='{{ site.url }}/js/control.min.js'></script>

{% if site.organization.google.analytics %}
	<script data-cfasync='false' type='text/javascript'>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.owner.google.analytics }}', 'auto');
		ga('send', 'pageview');
	</script>
{% endif %}

{% if site.organization.statcounter.project and site.organization.statcounter.security %}
	<script data-cfasync='false' type='text/javascript'>
		var sc_project = {{ site.organization.statcounter.project }};
		var sc_invisible = 1;
		var sc_security = '{{ site.organization.statcounter.security }}';
		var scJsHost = (('https:' == document.location.protocol) ? 'https://secure.' : 'http://www.');
		document.write('<script type="text/javascript" src="' + scJsHost + 'statcounter.com/counter/counter.js"></' + 'script>');
	</script>
	<noscript>
		<div class="statcounter">
			<a title="shopify analytics ecommerce" href="http://statcounter.com/shopify/" target="_blank">
				<img class="statcounter" src="//c.statcounter.com/{{ site.organization.statcounter.project }}/0/{{ site.organization.statcounter.security }}/1/" alt="shopify analytics ecommerce">
			</a>
		</div>
	</noscript>
{% endif %}