.wrap {
	margin: 0 auto;
}

.all-caps {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}

.pull-left {
	float: left;
	padding-right: $gutter;
}

.pull-right {
	float: right;
	padding-left: $gutter;
}

figure {
	&.half {
		@include media($large) {
			img {
				width: 47.5%;
				float: left;
				margin-right: 2.5%;
				margin-bottom: 2.5%;
			}

			figcaption {
				clear: left;
			}
		}
	}

	&.third {
		@include media($large) {
			img {
				width: 30.8%;
				float: left;
				margin-right: 2.5%;
				margin-bottom: 2.5%;
			}
			
			figcaption {
				clear: left;
			}
		}
	}
}

.no-scroll {
	overflow: hidden;
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}