@mixin tab-focus() {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%tab-focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

@mixin font-size($size, $margin: yes, $line-height: $doc-line-height) {
	font-size: 0px + $size;
	font-size: 0rem + $size / $doc-font-size;

	@if $line-height != $doc-line-height and $line-height != 1 {
		line-height: ceil($size / $line-height) * ($line-height / $size);
	}

	@else if $line-height == 1 {
		line-height: 1;
	}
	@else {
		line-height: ceil($size / $doc-line-height) * ($doc-line-height / $size);
	}

	@if $margin == no {
		margin-bottom: 0;  
	}  
	@else if $margin != yes and $margin != no {
		margin-bottom: 0px + $margin;
		margin-bottom: 0rem + ($margin / $doc-font-size);  
	}
	@else {
		margin-bottom: 0px + $doc-line-height;
		margin-bottom: 0rem + ($doc-line-height / $doc-font-size);  
	}
}

@mixin rounded($radius:4px) {
	border-radius : $radius;
}

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	border-top-right-radius : $topright;
	border-bottom-right-radius : $bottomright;
	border-bottom-left-radius : $bottomleft;
	border-top-left-radius : $topleft;
	background-clip : padding-box;
}

@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
	-webkit-box-shadow : $shadow;
	-moz-box-shadow : $shadow;
	box-shadow : $shadow;
}

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	-moz-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin text-shadow($shadow: 0 2px 3px rgba(0,0,0,.25)) {
	text-shadow : $shadow;
}

@mixin opacity($opacity : .5) {
	opacity : $opacity;
}

@mixin hide-text() {
	text-indent : 100%;
	white-space : nowrap;
	overflow : hidden;
}

@mixin hidden() {
	display : none !important; 
	visibility : hidden;
}

.hidden {
	display: none;
	visibility: hidden;
}

@mixin invisible() { 
	visibility : hidden;
}

@mixin resize($direction: both) {
	resize : $direction;
	overflow : auto;
}

@mixin user-select($select) {
	-webkit-user-select : $select;
	-moz-user-select : $select;
	-o-user-select : $select;
	user-select : $select;
}

@mixin visuallyhidden() { 
	overflow : hidden; 
	position : absolute;
	clip : rect(0 0 0 0); 
	height : 1px; 
	width : 1px;
	margin : -1px; 
	padding : 0; 
	border : 0;
}