<!DOCTYPE html>
<html lang='en'>
	{% include head.html %}

	<body class='theme'>
		{% include navigation.html %}
		
		<div class='wrap'>
			<div class='masthead'>
				<div class='container'>
					<h3 class='masthead-title'>
						<a href='{{ site.baseurl }}' style="font-size: 1.2rem; font-weight: 600">{{ site.title }}</a>
						<small>{{ site.description }}</small>
					</h3>
				</div>
			</div>

			<div class='container content' style='text-align: justify'>
				{{ content }}
			</div>

			<div class='footer-wrapper'>
				{% include footer.html %}
			</div>
		</div>

		<label class='sidebar-toggle' for='sidebar-checkbox'></label>

		{% include scripts.html %}
	</body>
</html>