<!DOCTYPE html>
<html class='no-js' lang='en'>
	{% include head.html %}

	<body id='post'>
		{% include navigation.html %}

		<div id='main' role='main'>
			<article class='entry'>
				{% if page.image.feature %}
					<img class='entry-feature-image' src='{{ site.url }}/img/{{ page.image.feature }}'
					{% if site.logo == null %}
						style='margin-top: 0'
					{% endif %}>
				{% endif %}
				<div class='entry-wrapper'>
					<header class='entry-header'>
						{% if page.link %}
							<h1 class='entry-title'><a href='{{ page.link }}'>
							{% if page.headline %}
								{{ page.headline }}
							{% else %}
								{{ page.title }}
							{% endif %} 
							<span class='link-arrow'>&rarr;</span></a></h1>
						{% else %}
							<h1 class='entry-title' style='text-align: justify; font-size: 50px'>
								{% if page.headline %}
									{{ page.headline }}
								{% else %}
									{{ page.title }}
								{% endif %}
							</h1>
						{% endif %}
					</header>
					<footer class='entry-meta'>
						{% assign author = site.author %}

						{% if author.avatar contains 'http' %}
							<img class='bio-photo' src='{{ author.avatar }}'/>
						{% elsif author.avatar %}
							<img class='bio-photo' src='{{ site.url }}/img/{{ author.avatar }}'/>
						{% endif %}

						<span class='author vcard'>BY 
							<span class='fn'>{{ author.name }}</span>
						</span>

						<span class='entry-date date published'>
							<time datetime='{{ page.date | date_to_xmlschema }}'>
								<i class='fa fa-calendar-o'></i> 
								{{ page.date | date: '%B %d, %Y' }}
							</time>
						</span>

						{% include ad-sidebar.html %}
					</footer>

					<div class='entry-content' style='text-align: justify; margin-bottom: -28px'>
						{{ content }}
					</div>
				</div>

				<ul class='pager' style='margin-bottom: 30px'>
					<li style='text-align: center'>
						<a href='{{ site.url }}'>
							<span aria-hidden='true'>&larr;&nbsp;</span>
							Back
						</a>
					</li>
				</ul>
			</article>
		</div>

		<div class='footer-wrapper'>
			{% include footer.html %}
		</div>

		{% include scripts.html %}
	</body>
</html>